* {
	margin: 0;
}
html, body {
	background: url(../images/bg.jpg) center 0pt scroll;
	color:#ddd;
}
html {
	background: none;
}
.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: -6px auto -42px; /* the bottom margin is the negative value of the footer's height */
}
#menu {
	background: #191C16;
	overflow:hidden;
	border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	opacity:.8;
}
#menu ul {
	margin:0;
	padding:0;
	float:left;
}
#menu ul li {
	float:left;
	list-style:none;
}
#menu ul li a {
	display:block;
	text-decoration:none;
	padding:5px 15px;
	text-transform:uppercase;
	color:#eee;
	font-weight:bold;
}
#menu ul li a:hover {
	color:#fff;
	background: #56634C;
}
#content {
	background: #111;
	opacity:.8;
	border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	margin-bottom:55px;
}
.inner {
	padding:15px;
}
#footer {
	height: 42px; /* .push must be the same height as .footer */
	clear:both;
	text-align:center;
	color:#1A2214;
}
#footer a {
	color:#1A2214;
}
#footer a:hover {
	color:#fff;
}
